[submodule "LDAK-Heritability-Calculation"]
	path = LDAK-Heritability-Calculation
	url = https://github.com/GooLey1025/LDAK-Heritability-Calculation
[submodule "GATK-DELLY-VariantsCalling"]
	path = GATK-DELLY-VariantsCalling
	url = https://github.com/GooLey1025/GATK-DELLY-VariantsCalling
[submodule "GWAS-LD_Markers-Discovery"]
	path = GWAS-LD_Markers-Discovery
	url = https://github.com/GooLey1025/GWAS-LD_Markers-Discovery
[submodule "GATK-DELLY-Allele_based-Genotyping"]
	path = GATK-DELLY-Allele_based-Genotyping
	url = https://github.com/GooLey1025/GATK-DELLY-Allele_based-Genotyping
[submodule "VarsGT"]
	path = VarsGT
	url = https://github.com/GooLey1025/VarsGT
[submodule "Aquila-GS"]
	path = Aquila-GS
	url = https://github.com/GooLey1025/Aquila-GS
